# Dependencies
node_modules/

# Build & Generated
dist/
*.tsbuildinfo

# IDE & Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# System & Logs
.DS_Store
.Trash-*
Thumbs.db
*.log
